In [1]:
import pandas as pd

In [9]:
founders = pd.read_csv("/Users/Development/Desktop/pandasproject/founders.csv")

In [10]:
founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single

In [11]:
print(founders.head())

  Founder's Name                              Pitch Line  Age  \
0  Alice Johnson        "Revolutionizing urban farming."   34
1      Bob Smith   "AI-driven solutions for healthcare."   45
2      Carol Lee  "Bringing clean energy to every home."   29
3   David Nguyen         "Enhancing e-commerce with AR."   38
4     Emma Brown   "Personalized learning for all ages."   31

                               Business Storytelling Capital (USD)  \
0  Alice grew up in a city with limited green spa...       250,000
1  After witnessing inefficiencies in hospital sy...     1,000,000
2  Carol's passion for renewable energy led her t...       500,000
3  David saw the potential of augmented reality t...       750,000
4  Emma, a former teacher, launched an ed-tech pl...       300,000

  Marital Status
0         Single
1        Married
2         Single
3       Divorced
4        Married

In [12]:
print(founders.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Founder's Name         7 non-null      object
 1   Pitch Line             7 non-null      object
 2   Age                    7 non-null      int64
 3   Business Storytelling  7 non-null      object
 4   Capital (USD)          7 non-null      object
 5   Marital Status         7 non-null      object
dtypes: int64(1), object(5)
memory usage: 468.0+ bytes
None

In [14]:
filtered_founders = founders[founders["Age"] > 30]
filtered_founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single

In [17]:
founders["industery"] = founders["Pitch Line"] + founders["Capital (USD)"]
founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single,"""Revolutionizing urban farming.""250,000"
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single,"""Bringing clean energy to every home.""500,000"
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced,"""Enhancing e-commerce with AR.""750,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single,"""Sustainable packaging solutions.""600,000"
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single,"""Connecting freelancers with projects.""150,000"

In [20]:
print(founders.describe())

             Age
count   7.000000
mean   35.142857
std     6.768273
min    27.000000
25%    30.000000
50%    34.000000
75%    40.000000
max    45.000000

In [23]:
founders_sorted = founders.sort_values(by = "Age")
founders_sorted

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single,"""Connecting freelancers with projects.""150,000"
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single,"""Bringing clean energy to every home.""500,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single,"""Revolutionizing urban farming.""250,000"
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced,"""Enhancing e-commerce with AR.""750,000"
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single,"""Sustainable packaging solutions.""600,000"
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"

In [25]:
married_founders = founders[founders["Marital Status"] == "Married" ]
married_founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"

In [31]:
founders.to_json('founders_data_modified.json', orient='records', lines=True)
fou

In [1]:
pip install --upgrade nbformat nbconvert

Requirement already satisfied: nbformat in /opt/anaconda3/lib/python3.11/site-packages (5.9.2)
Collecting nbformat
  Downloading nbformat-5.10.4-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: nbconvert in /opt/anaconda3/lib/python3.11/site-packages (7.10.0)
Collecting nbconvert
  Downloading nbconvert-7.16.4-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: fastjsonschema>=2.15 in /opt/anaconda3/lib/python3.11/site-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /opt/anaconda3/lib/python3.11/site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/anaconda3/lib/python3.11/site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in /opt/anaconda3/lib/python3.11/site-packages (from nbformat) (5.7.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (3.1.3)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (23.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (2.15.1)
Requirement already satisfied: tinycss2 in /opt/anaconda3/lib/python3.11/site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.11/site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: attrs>=22.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (3.10.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/anaconda3/lib/python3.11/site-packages (from nbclient>=0.5.0->nbconvert) (8.6.0)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.11/site-packages (from beautifulsoup4->nbconvert) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in /opt/anaconda3/lib/python3.11/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.1.2)
Requirement already satisfied: tornado>=6.2 in /opt/anaconda3/lib/python3.11/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.3.3)
Downloading nbformat-5.10.4-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 269.5 kB/s eta 0:00:00a 0:00:01
Downloading nbconvert-7.16.4-py3-none-any.whl (257 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 257.4/257.4 kB 1.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: nbformat, nbconvert
  Attempting uninstall: nbformat
    Found existing installation: nbformat 5.9.2
    Uninstalling nbformat-5.9.2:
      Successfully uninstalled nbformat-5.9.2
  Attempting uninstall: nbconvert
    Found existing installation: nbconvert 7.10.0
    Uninstalling nbconvert-7.10.0:
      Successfully uninstalled nbconvert-7.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.75 requires requests_mock, which is not installed.
conda-repo-cli 1.0.75 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.75 requires nbformat==5.9.2, but you have nbformat 5.10.4 which is incompatible.
Successfully installed nbconvert-7.16.4 nbformat-5.10.4
Note: you may need to restart the kernel to use updated packages.